<p>diario-emocional-ia works!</p>
<p>diario-emocional-ia works!</p>
<p>diario-emocional-ia works!</p>
<p>diario-emocional-ia works!</p>
<p>diario-emocional-ia works!</p>
<p>diario-emocional-ia works!</p>


<div class="container text-center mt-5" *ngIf="azureAnalisis">

  <h3>🧠 Azure AI</h3>

  <p>
    Detecta un tono:
    <strong>{{ tonoAzureTexto }}</strong>
  </p>

  <ul>
    <li>👍 Positivo: {{ azureAnalisis.positive }}</li>
    <li>😐 Neutral: {{ azureAnalisis.neutral }}</li>
    <li>👎 Negativo: {{ azureAnalisis.negative }}</li>
  </ul>

  <p>¿Coincide contigo?</p>

  <button (click)="responderAzure(true)">Sí</button>
  <button (click)="responderAzure(false)">No</button>

  <p *ngIf="azureAnalisis.coincide_Usuario === true">👍 Coincide</p>
  <p *ngIf="azureAnalisis.coincide_Usuario === false">👎 No coincide</p>

</div>