<div class="home">
  <div class="top-bar">
    Try our services. Reach out today!
  </div>

  
  <div class="section-1">
    <div class="column-1">
      <div class="dotted-frame"></div>
      <img src="/img/image.png" alt="Bienestar y Mente">
    </div>

    <div class="column-2">
      <p class="subtitle">empowering you to find freedom & inner peace.</p>
      <h1 class="main-title">
        terapia online para <br>
        mentes creativas y <br>
        brillantes
      </h1>
      <button class="cta-btn">comenzar ahora</button>
    </div>
  </div>

  <div class="section-2">
    <div class="marquee-wrapper">
      <div class="marquee-content">
        Madrid • Barcelona • Valencia • Bilbao • Sevilla • Madrid • Barcelona • Valencia • Bilbao • Sevilla • Madrid • Barcelona • Valencia • Bilbao • Sevilla •
      </div>
    </div>
  </div>
</div>