<p>mi-espacio works!</p>
<p>mi-espacio works!</p>
<p>mi-espacio works!</p>
<p>mi-espacio works!</p>
<p>mi-espacio works!</p>

<h2>Hola, {{ nombreUsuario }} 👋</h2>

<p *ngIf="estadoEmocional">
  Tu estado emocional hoy: 
  <strong>{{ emoji }} {{ estadoEmocional }}</strong>
</p>

<div *ngIf="progresos.length > 0" class="mt-4">

  <h3>Tu progreso</h3>

  <div *ngFor="let m of progresos" class="modulo-item">

    <p>
      <strong>{{ m.tituloModulo }}</strong> - {{ m.porcentaje }}%
    </p>

    <div class="progress-bar-container">
      <div 
        class="progress-bar-fill"
        [style.width.%]="m.porcentaje">
      </div>
    </div>

    <button [routerLink]="['/modulos', m.idModulo]">
  Continuar
</button>

  </div>

</div>